@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: rgb(195, 199, 199);
    
  }
  .billet{
    width: 5%;
    height: auto;
  }
  .tonNom, .btnp{
    font-size: 0.6em; 
  }

  .btns, .form-control{
      height: 60%;
  }

